{% load static %}
{% block content %}
    <div class="container content">
        <h2>{{ user.username }}</h2>

        <div class="row" style="margin-left: 20px;">
            <div class="col5">
                    <img src="{{ user.avatar.url }}" class="avatar-img img-thumbnail" width="265" height="250"><br>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3 text-right">First name:<br></dt>
                    <dd class="col-sm-9">{{ user.first_name }}<br></dd>

                    <dt class="col-sm-3 text-right">Last name<br></dt>
                    <dd class="col-sm-9">{{ user.last_name}}<br></dd>

                    <dt class="col-sm-3 text-right">Email<br></dt>
                    <dd class="col-sm-9">{{ user.email }}<br></dd>

{#                    <dt class="col-sm-3 text-right">Город</dt>#}
{#                    <dd class="col-sm-9">{{ .profile.city }}</dd>#}

{#                    <dt class="col-sm-3 text-right">Дата рождения</dt>#}
{#                    <dd class="col-sm-9">{{ selected_user.profile.birth_date|date:"d M Y" }}</dd>#}

                    <dt class="col-sm-3 text-right">Male<br></dt>
                    <dd class="col-sm-9">{{ user.male }}<br></dd>

                </dl>
            </div>
        </div>
    </div>
{% endblock %}